.long-and-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

html {
    scroll-behavior: smooth;
}

.error-message {
    color: red;
}

.jumbotron {
    background: url(../images/bg1.jpg);
}
